<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">

        var imgArray= new Array();
        imgArray[0]="../static/bg01.PNG";
        imgArray[1]="../static/bg01.PNG";
        imgArray[2]="../static/bg01.PNG";
        imgArray[3]="../static/bg01.PNG";

        function showImage()
        {
            var imgNum=Math.round(Math.random()*3);
            var objImg=document.getElementById("introImg");
            objImg.src=imgArray[imgNum];

<!--            var print(imgNum)-->

            var imgNum2=Math.round(Math.random()*3);
            while (imgNum == imgNum2){
                var imgNum2=Math.round(Math.random()*3);
            }
            var objImg2=document.getElementById("introImg2");
            objImg2.src=imgArray[imgNum2];

        }
    </script>
</head>
    <body onload="showImage()">
        <form action="{% url 'game:test2' %}" method="post">
            {% csrf_token %}
            <img id="introImg">
            <input type="submit" value="imgNum" class="btn btn-dark rounded-pill col-6 mt-3">
        </form>
        <form action="{% url 'game:test2' %}" method="post">
            {% csrf_token %}
            <img id="introImg2">
            <input type="submit" value="imgNum2" class="btn btn-dark rounded-pill col-6 mt-3">
        </form>
    </body>
</html>