<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="game-text">게임종료<a href="{% url 'game:tetris_test' %}">다시시작</a></div>
    <div class="score">0</div>
    <div class="playground">
        <ul></ul>
    </div>
    <script src="{% static 'js/tetris.js' %}" type="module"></script>
    <!-- type="module"하니까 blocks.js랑 tetris.js가 연결되었음 이유가 궁금-->
</div>
</body>
</html>