<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  이상형월드컵끝
    {{ loke.like_1 }}
    {{ loke.like_2 }}
    {{ loke.like_3 }}
    {{ loke.like_4 }}
    {{ loke.like_5 }}
    {{ loke.like_6 }}
    {{ loke.like_7 }}
    {{ loke.like_8 }}
  <p></p>
  1등 {{ winner_list.0 }}%
  <p></p>
  2등 {{ winner_list.1 }}%
  <p></p>
  3등 {{ winner_list.2 }}%
  <p></p>
  4등 {{ winner_list.3 }}%
  <p></p>
  5등 {{ winner_list.4 }}%
  <p></p>
  6등 {{ winner_list.5 }}%
  <p></p>
  7등 {{ winner_list.6 }}%
  <p></p>
  8등 {{ winner_list.7 }}%
  <p></p>
  {{ winner_list }}

 {{ zerotwo }}


</body>
</html>