<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .nav-container {
        position: fixed;
        right: 50px;
    }

</style>
<body>
    <p></p>

    <nav>
        <ul class="nav-container">
            <li><a href="{% url 'mainpage:search' %}">상세 검색</a></li>
            <li><a href="{% url 'accountapp:create' %}">signup</a></li>
            {% if not user.is_authenticated %}
                <li><a href="{% url 'accountapp:login' %}">login</a></li>
            {% else %}
                <li><a href="{% url 'accountapp:logout' %}">Logout</a></li>
                <li><a href="{% url 'accountapp:detail' pk=user.pk %}">MyPage</a></li>
            {% endif %}
                <li><a href="{% url 'mainpage:mainpage' %}">MainPage</a></li>
                <li><a href="{% url 'projectapp:project_list' %}">Project</a></li>
                <li><a href="{% url 'game:tetris_test' %}">TETRIS</a></li>
        </ul>
    </nav>


    {% for subscribe in article_subscribe %}
        {{ subscribe.article_title }}
        <img src="{{ subscribe.article_img.url }}" alt=""
                 style="height: 12rem; width: 12rem; border-radius: 10rem; margin-bottom: 2rem; object-fit: cover;">
    <p></p>

    {% endfor %}
    <h1>
</body>
</html>