<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
  <body>
    <h1>MyPage</h1>
      <div>
          {{ user.date_joined }}
          <p></p>
          {{ user.username }}
          <p></p>
          <a class="material-icons"
             style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
             href="{% url 'accountapp:update' pk=user.pk %}">
              settings
          </a>
          <a class="material-icons"
             style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
             href="{% url 'accountapp:delete' pk=user.pk %}">
              cancel
          </a>
      </div>
  <!--  {{form }} -->
  </body>
</html>