<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
  <body style="text-align:center;">
    <h1>MyPage</h1>
      <div>
          {% if target_user.profile %}
              <img src="{{ target_user.profile.image.url }}" alt=""
                     style="height: 12rem; width: 12rem; border-radius: 10rem; margin-bottom: 2rem; object-fit: cover;">
                  {{ target_user.profile.nickname }}
                  <h5>
                      {{ target_user.profile.message }}
                  </h5>
                    <h5>
                        <a href="{% url 'accountapp:profile_update' pk=target_user.profile.pk %}">
                            edit
                        </a>
                    </h5>
          {% else %}
          <a href="{% url 'accountapp:profile_create' %}">
              Create Profile
          </a>
          {% endif %}
          <p></p>
          {{ target_user.username }}
          <p></p>
          {{ target_user.date_joined }}
          {% if user.pk == target_user.pk %}
              <a class="material-icons"
                 style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
                 href="{% url 'accountapp:update' pk=target_user.pk %}">
                  settings
              </a>
              <a class="material-icons"
                 style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
                 href="{% url 'accountapp:delete' pk=target_user.pk %}">
                  cancel
              </a>
          {% endif %}
      </div>
  <!--  {{form }} -->
  </body>
</html>