<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
  <body style="text-align:center;">
    <h1>MyPage</h1>
      <div>
          {{ target_user.date_joined }}
          <p></p>
          {{ target_user.username }}
          <p></p>
          {% if user.pk == target_user.pk %}
              <a class="material-icons"
                 style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
                 href="{% url 'accountapp:update' pk=target_user.pk %}">
                  settings
              </a>
              <a class="material-icons"
                 style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
                 href="{% url 'accountapp:delete' pk=target_user.pk %}">
                  cancel
              </a>
          {% endif %}
      </div>
  <!--  {{form }} -->
  </body>
</html>