<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'accountapp:profile_update' pk=target_profile.pk %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        {% if user.profile.pk == target_profile.pk %}
            {{ form }}
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
        {% else %}
            <h1> 잘못된 접근 입니다.</h1>
        {% endif %}
    </form>
</body>
</html>