<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
  <body style="text-align:center;">
    <h1>Change Info</h1>
      <div>
<!--          보낼때 pk는 왜 같이 보내는거지?-->
          <form action="{% url 'accountapp:update' pk=target_user.pk %}" method="post">
              {% csrf_token %}
              {% if user.pk == target_user.pk %}
                  {{ form }}
                <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
              {% else %}
                <h3>잘못된 접근 입니다</h3>
              {% endif %}
          </form>
      </div>
  </body>
</html>