<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>initial_page</title>
</head>
<body style="text-align:center;">
    <h1>
        이상형 월드컵
    </h1>
    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" class="btn btn-primary btn-sm">
    </form>
    <h3>
        <a href="/search">상세 검색</a>
    </h3>
    <h3>
        <a href="loginpage/create">signup</a>
    </h3>
    <a href="play"> start </a>
    <a href="www.daum.com"> exit </a>
    {% if not user.is_authenticated %}
    <h3>
        <a href="loginpage/login">login</a>
    </h3>
    {% else %}
    <h3>
        <a href="{% url 'accountapp:logout' %}">Logout</a>
    </h3>
    <h3>
        <a href="{% url 'accountapp:detail' pk=user.pk %}">MyPage</a>
    </h3>
    {% endif %}

</body>
</html>