{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="base.css">
</head>
<body>
  <form action="." method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit" class="btn btn-primary btn-sm">
  </form>
  {% if search_term %}
        {% for post in search_term %}
          <a href="{% url 'accountapp:detail' pk=post.pk %}">
              <h2> {{ post.username }} <img src="{{ post.profile.image.url }}" alt=""
                     style="height: 3rem; width: 3rem; border-radius: 10rem; margin-bottom: 2rem; object-fit: cover;"></h2>
              <p>{{ post.profile.nickname }}</p>
          </a>
            <p></p>
            <hr>
            <p></p>
        {% endfor %}
  {% endif %}
</body>
</html>